@media all and (min-width: 1025px) {
  .content__section_desktop_margin-left {
    padding: 0;
    margin-left: 148px;
  }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
  .content__section_desktop_margin-left {
    padding: 0;
    margin-left: calc(24/256*100% - 48px);
  }
}

