.place__paragraph {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  width: 100%;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media all and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media all and (max-width: 425px) {
  .place__paragraph {
    padding: 0 16px;
    box-sizing: border-box;
  }
}
