@media all and (max-width: 768px) {
  .content__section_tablet_wide {
    width: calc(100vw - 16px);
    margin-left: -24px;
  }
}

@media all and (max-width: 425px) {
  .content__section_tablet_wide {
    width: 100vw;
    margin-left: -16px;
  }
}

/* @media all and (max-width: 320px) {
  .content__section_tablet_wide {
    margin-left: -16px;
  }
} */
