@media all and (max-width: 768px) {
  .content__section_tablet_wide {
    width: calc(100vw - 16px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media all and (max-width: 435px) {
  .content__section_tablet_wide {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
