.content__section_lead-width {
  width: calc(100% - 100px*2);
}

@media all and (max-width: 1024px) {
  .content__section_lead-width {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .content__section_lead-width {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
