.content__section_intro-width {
  max-width: 690px;
  margin-left: 100px;
}

@media all and (max-width: 1024px) {
  .content__section_intro-width {
    margin-left: 0px;
  }
}

@media all and (max-width: 768px) {
  .content__section_intro-width {
    max-width: 100%;
  }
}
