.page__footer {
  width: 100%;
  margin-bottom: 24px;
  padding: 0 48px;
  box-sizing: border-box;
}

@media all and (max-width: 1023px) {
  .page__footer {
    padding: 0 calc(24/256*100% - 48px);
  }
}

@media all and (max-width: 768px) {
  .page__footer {
    padding: 0 24px;
  }
}

@media all and (max-width: 425px) {
  .page__footer {
    padding: 0 16px;
  }
}
